/* Viết code css trong file này*/

/*Chọn tất cả thẻ h1 trong trang web*/
h1 {
    color: red; 
}

p {
    color: green;
}
/*Chọn thẻ nào có id là special-heading*/
#special-heading{
      color: orange
}

.text-blue {
    color: blue;
}

/*(0.0.0)*/
*{
    color: chocolate;
 }
/*(0.0.1)*/
div {
    color: blueviolet;
}
/*(0.1.0)*/
.text-brown {
    color:brown;
}
/*(1.0.0)*/
#my-div {
    color: pink;
}

/* Những thuộc tính -giá trị =>> Định dạng text*/
#test-text {
    font-size: medium; /*cỡ chữ*/
    font-style:italic ; /*Kiểu chữ*/
    text-decoration: line-through; /*Trang trí cho chữ*/
    font-family:'Arial' ; /*family*/
    text-transform: uppercase; /*biến đổi chữ*/
}
/*Những thuộc tính - giá trị => định dạng khối nội dung (Box model)*/
#my-box {
    background-color:pink;
    width: 300px;
    height: 170px;
    border: 10px solid green;
    border-radius:10px ;
    padding: 20px;

}